# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Avoid committing temporary tests
testing.js
testing.ts
test.js
test.ts
*.test.d.ts
tests/**/*.d.ts

# Deno specific
deno.lock

# Coverage
coverage
cov.lcov

# NPM package
npm
